<ion-header>
  <app-header *ngIf="headerContextModel" [context]="headerContextModel"></app-header>
</ion-header>
<ion-content *ngIf="collection">
  <ng-container *ngIf="activePlayerIndex == -1">
    <collection-player-overview (onContentPlay)="openPlayer($event)" [collection]="collection" [unit]="unit" [lesson]="lesson"></collection-player-overview>
  </ng-container>
  <ng-container *ngIf="activePlayerIndex > -1 ">
    <collection-playlist  [collection]="collection" [activePlayerIndex]="activePlayerIndex"></collection-playlist>
  </ng-container>
</ion-content>
