drag-and-drop-format {
  &.answer-reorder {
    .panel-body {
      background-color: #ffffff;
      color: #38424b;
    }

    .desc {
      * {
        color: #ffffff !important;
        font-size: 15px !important;
        background-color: #38424b !important;
      }
    }
  }

  .desc {
    * {
      color: #ffffff !important;
      font-size: 15px !important;
      background-color: #38424b !important;
    }
  }

  .panel-body {
    background-color: #38424b;
    color: #ffffff;
    display: flex;

    .question-sequence {
      width: 50px;

      .sequence {
        padding-top: 11px;
        padding-left: 10px;
      }
    }

    .question-container {
      width: calc(100% - 50px);
      padding-top: 10px;

      .title {
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        font-style: italic;
      }

      .desc {
        padding: 10px 10px 10px 0;
        font-size: 15px;
        text-align: justify;
        font-weight: 300;
      }
    }

    .answer-list {
      padding: 10px 10px 10px 0;

      ion-item {
        color: #ffffff;
        background-color: #38424b;
        border: solid 1px;
        margin-bottom: 10px;
        border-radius: 5px;

        .item-inner {
          border-bottom: 0;

          ion-reorder {
            opacity: 1;
          }
        }
      }

      &.reorder {
        ion-item {
          color: #38424b;
          background-color: #ffffff;
        }

        ion-reorder {
          color: #38424b;
        }
      }
    }
  }
}
