<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>765348544690-tppunnpkdul9ufgakid9ogg86c5ju02r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765348544690-tppunnpkdul9ufgakid9ogg86c5ju02r</string>
	<key>API_KEY</key>
	<string>AIzaSyDfUWyA7abLmCEA-JsYLghFyhCHhi57vz0</string>
	<key>GCM_SENDER_ID</key>
	<string>765348544690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gooru.navmath</string>
	<key>PROJECT_ID</key>
	<string>compact-circlet-634</string>
	<key>STORAGE_BUCKET</key>
	<string>compact-circlet-634.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765348544690:ios:0d4cc5471b080b20</string>
	<key>DATABASE_URL</key>
	<string>https://compact-circlet-634.firebaseio.com</string>
</dict>
</plist>