smiley {
  .reactions {
    width: 45px;
    height: 45px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 4px 6px;
    border-left: 1px solid color($colors, white);
    border-right: 1px solid color($colors, white);
    background-size: 35px 35px;

    .slider {
      transition: transform 0.3s ease;
    }

    .slider.open {
      position: fixed;
      transform: translate(0, -220px);
    }

    .slider.close {
      visibility: hidden;
    }

    ion-item {
      display: block;
      height: 44px;
      width: 44px;
      background-color: #454f57;
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.47);
    text-align: center;
    top: 7px;
    left: 5px;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    position: absolute;

    ion-icon {
      margin-top: 12px;
      color: white;
    }
  }

  .smiley-1,
  .smiley-2,
  .smiley-3,
  .smiley-4,
  .smiley-5 {
    background-size: 35px 35px;
    mask-position: 50% 50%;
    background-position: 5px;
    background-repeat: no-repeat;
  }
}
