pdf-format {
  .container {
    height: 100%;
    display: flex;

    .content {
      color: color($colors, white);
      margin: auto;

      span {
        display: block;
        font-weight: 300;
        padding: 10px;
      }

      ion-icon {
        font-size: 4em;
      }
    }
  }
}
