collection-report-overview {
  top: 56px;
  position: relative;

  ion-content {
    &.content-md {
      background-color: color($colors, dark);
    }
  }

  %icon-container {
    height: 49px;
    width: 37px;
    display: block;
    background-size: 25px 25px;
    mask-position: 50% 50%;
    background-position: 5px 10px;
    background-repeat: no-repeat;
  }

  .overview-container {
    background-color: color($colors, white);

    .collection-img {
      width: 100%;
      background-position: center center;
      background-size: cover;
      height: 250px;
    }

    .panel-header {
      height: 50px;
      display: flex;
      box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid #cccccc;

      .collection-icon {
        width: 50px;
        height: 50px;

        i {
          background: url("../assets/icon/collection-dark.svg");
          height: 40px;
          display: block;
          background-repeat: no-repeat;
          background-size: 32px 32px;
          background-position: 10px 9px;
        }
      }

      .collection-meta {
        width: calc(100% - 125px);
        color: color($colors, grey);
        padding-left: 10px;

        p {
          margin-bottom: 0;
          margin-top: 0;
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h6 {
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .collection-info {
        width: 75px;
        height: 50px;
        display: flex;

        i {
          width: 37px;
          background: url("../assets/icon/info.svg");
          height: 41px;
          display: block;
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: 6px 15px;
        }

        .time-spent {
          width: 37px;
          display: flex;

          span {
            color: color($colors, grey);
            margin: auto;
          }
        }
      }
    }

    .panel-body {
      .content-panel {
        height: 50px;
        display: flex;
        border-bottom: 1px solid #cccccc;

        .content-icon {
          width: 50px;
          height: 50px;

          i {
            width: 20px;
            height: 20px;
            display: block;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            margin-left: 19px;
            margin-top: 16px;
          }

          .video-icon {
            background-image: url("../assets/icon/video-resource-dark.svg");
          }

          .text-icon {
            background-image: url("../assets/icon/text-resource-dark.svg");
          }

          .audio-icon {
            background-image: url("../assets/icon/audio-resource-dark.svg");
          }

          .webpage-icon {
            background-image: url("../assets/icon/website-resource-dark.svg");
          }

          .interactive-icon {
            background-image: url("../assets/icon/interactive-resource-dark.svg");
          }

          .image-icon {
            background-image: url("../assets/icon/image-resource-dark.svg");
          }

          .question-icon {
            background-image: url("../assets/icon/question-dark.svg");
          }
        }

        .content-meta {
          width: calc(100% - 125px);
          color: color($colors, grey);
          padding-left: 10px;

          p {
            margin-bottom: 0;
            margin-top: 12px;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          span {
            font-size: 10px;
          }
        }

        .content-info {
          display: flex;

          .smiley-1,
          .smiley-2,
          .smiley-3,
          .smiley-4,
          .smiley-5 {
            @extend %icon-container;
          }

          .time-spent {
            width: 37px;
            display: flex;

            span {
              color: color($colors, grey);
              margin: auto;
            }
          }
        }

        &:last-child {
          border: none;
        }
      }
    }
  }
}
