badge-info {
  .info-content {
    background: white;

    .header {
      height: 60px;
      display: flex;
      width: 100%;
      position: fixed;

      .header-title {
        width: calc(100% - 50px);
        background: #303a4d;
        display: flex;

        .emoji {
          width: 60px;
          padding: 10px;
        }

        .percentage {
          padding: 15px 10px;
          width: 60px;
        }
      }

      .mark {
        width: 60px;
        background: #2f9e4b;
        text-align: center;
        display: flex;

        span {
          color: #ffffff;
          margin: auto;
        }
      }
    }

    .badge-container {
      height: 250px;
      display: flex;
      text-align: center;

      img {
        margin: 66px auto auto;
      }
    }
  }

  .title {
    width: calc(100% - 50px);
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;

    span {
      font-size: 11px;
      display: block;
    }

    .highlight {
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ef8f2f;
    }
  }

  .collection-list {
    height: 100%;
    background: #303a4d;
    // overflow-x: hidden;
    // max-height: 175px;
    color: white;

    .collection-row {
      display: flex;
      height: 60px;
      border: solid 0.5px #e1e1e1;

      .collection {
        width: calc(100% - 60px);
        display: flex;

        .collection-info {
          width: 60px;
          display: flex;

          span {
            margin: auto;
          }

          ion-icon {
            margin: auto;
          }
        }

        .collection-name {
          width: calc(100% - 60px);
          display: flex;

          span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 20px;
            width: 185px;
            display: inline-block;
          }
        }

        .collection-smiley {
          width: 60px;
          display: flex;

          img {
            margin: auto;
          }
        }
      }

      .tick {
        width: 60px;
      }
    }
  }
}

ion-modal.inset-modal {
  padding-top: 30vh;
}
