content-info-panel {
  .content-panel {
    display: flex;
    min-height: 45px;
    background-color: #5c5c5c;

    .content-icon {
      width: 45px;
      height: 45px;

      i {
        width: 20px;
        height: 20px;
        display: block;
        -webkit-mask-size: 20px 20px;
        -webkit-mask-repeat: no-repeat;
        margin-top: 14px;
        margin-left: 17px;
        background-color: white;
      }

      .video-icon {
        -webkit-mask-image: url("../assets/icon/video-resource-dark.svg");
      }

      .text-icon {
        -webkit-mask-image: url("../assets/icon/text-resource-dark.svg");
      }

      .audio-icon {
        -webkit-mask-image: url("../assets/icon/audio-resource-dark.svg");
      }

      .webpage-icon {
        -webkit-mask-image: url("../assets/icon/website-resource-dark.svg");
      }

      .interactive-icon {
        -webkit-mask-image: url("../assets/icon/interactive-resource-dark.svg");
      }

      .image-icon {
        -webkit-mask-image: url("../assets/icon/image-resource-dark.svg");
      }

      .question-icon {
        -webkit-mask-image: url("../assets/icon/question-dark.svg");
      }
    }

    .content-metadata {
      width: calc(100% - 125px);
      color: #ffffff;
      padding-left: 10px;

      p {
        margin-top: 17px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .playlist-pulldown,
    .playlist-pullup {
      ion-icon {
        margin-top: 17px;
        color: white;
      }
    }

    .fullscreen {
      width: 50px;
      height: 45px;
      background-image: url("../assets/icon/full-screen.svg");
    }
  }
}
