assessment-player-overview {
  ion-content {
    margin-top: 45px;
  }

  .assessment-img {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
    margin-bottom: 20px;
  }

  .setting-panel {
    display: flex;
    height: 75px;
    border-bottom: solid 1px color($colors, light);

    .attempts {
      width: 150px;

      .unlimited-attempt {
        background: url("../assets/icon/unlimited-attempt.svg");
        height: 40px;
        display: block;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: 10px 9px;
      }

      .attempt {
        font-size: 25px;
        display: block;
        margin-top: 10px;
        color: #29323a;
      }

      .info {
        font-size: 10px;
        font-weight: bold;
        text-align: left;
        color: color($colors, grey);
      }
    }

    .direction {
      margin-left: 45px;
      width: calc(100% - 150px);

      i.bidirectional {
        background: url("../assets/icon/bidirection.svg");
        height: 40px;
        display: block;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: 10px 9px;
      }

      i.non-bidirectional {
        background: url("../assets/icon/non-bidirection.svg");
        height: 40px;
        display: block;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: 10px 9px;
      }

      .info {
        font-size: 10px;
        font-weight: bold;
        padding-left: 16px;
        text-align: left;
        color: color($colors, grey);
      }
    }
  }

  .panel-header {
    height: 50px;
    display: flex;
    border-bottom: 1px solid color($colors, light);

    i.assessment-icon {
      width: 50px;
      height: 50px;
      display: block;
      background-repeat: no-repeat;
      background-size: 32px 32px;
      background-position: 10px 9px;
    }

    .assessment-meta {
      width: calc(100% - 125px);
      color: color($colors, grey);
      padding-left: 10px;

      p {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      h6 {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    i.info-icon {
      width: 75px;
      height: 50px;
      display: block;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: 6px 15px;
    }
  }

  .panel-body {
    .content-panel {
      height: 50px;
      display: flex;
      border-bottom: 1px solid color($colors, light);

      .content-icon {
        width: 50px;
        height: 50px;

        i {
          width: 20px;
          height: 20px;
          display: block;
          background-size: 20px 20px;
          background-repeat: no-repeat;
          margin-left: 19px;
          margin-top: 16px;
        }
      }

      .content-meta {
        width: calc(100% - 125px);
        color: color($colors, grey);
        padding-left: 10px;

        p {
          margin-bottom: 0;
          margin-top: 12px;
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        span {
          font-size: 10px;
        }
      }

      .content-info {
        width: 50px;
        height: 50px;

        i {
          background: url("../assets/icon/info.svg");
          height: 41px;
          display: block;
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: 6px 15px;
        }
      }
    }
  }
}
