<ion-content>
  <div class="assessment-img" text-center [style.background-image]="'url(' + assessment.thumbnail + ')'">
  </div>
  <div class="panel-header">
    <div class="assessment-icon">
      <i></i>
    </div>
    <div class="assessment-meta">
      <ng-container *ngIf="unit">
        <p>{{unit.title}}</p>
      </ng-container>
      <ng-container *ngIf="lesson">
        <p>{{lesson.title}}</p>
      </ng-container>
      <h6>{{assessment.title}}</h6>
    </div>
    <div class="assessment-info">
      <i></i>
    </div>
  </div>
  <div class="panel-body">
    <div class="content-panel" *ngFor="let content of assessment.question; let contentIndex = index" (click)="playContent(content, contentIndex)">
      <div class="content-icon">
        <i class="question-icon"></i>
      </div>
      <div class="content-meta">
        <p [question-text-parser]="content.title"></p>
        <span>{{content.content_subformat | questionFormat}}</span>
      </div>
      <div class="content-info">
        <i></i>
      </div>
    </div>
    <div class="content-panel"></div>
  </div>
</ion-content>
