multiple-answer-format {
  &.answer-selected {
    .panel-body {
      background-color: color($colors, white);
      color: color($colors, dark);
    }

    .desc {
      * {
        color: color($colors, dark) !important;
        background-color: color($colors, white) !important;
      }
    }
  }

  .desc {
    * {
      color: color($colors, white) !important;
      font-size: 15px !important;
      background-color: color($colors, dark) !important;
    }
  }

  .panel-body {
    background-color: color($colors, dark);
    color: color($colors, white);
    display: flex;

    .question-sequence {
      width: 50px;
      padding-top: 10px;
    }

    .question-container {
      width: calc(100% - 50px);
      padding-top: 10px;

      .title {
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        font-style: italic;
      }

      .desc {
        padding: 10px 10px 10px 0;
        font-size: 15px;
        text-align: justify;
        font-weight: 300;
      }

      .thumbnail {
        width: 200px;
        height: 200px;
      }
    }

    .table {
      width: 100%;
      text-align: left;
    }

    .table > tbody > tr > td {
      padding: 8px;
      line-height: 1.846;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }

    .table > thead > tr > th {
      padding: 8px;
      font-size: 16px;
      line-height: 1.846;
    }

    input[type="radio"] {
      &.choice {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border: 1px solid color($colors, white);
        border-radius: 50%;
        outline: none;
      }

      &.selected {
        border: 1px solid color($colors, dark);
      }
    }

    input[type="radio"] {
      &.choice:before {
        content: "";
        display: block;
        width: 45%;
        height: 45%;
        margin: 2px auto;
        border-radius: 50%;
      }
    }

    input[type="radio"] {
      &.choice:checked:before {
        background: color($colors, white);
        width: 9px;
        height: 9px;
      }

      &.selected:checked:before {
        background: color($colors, dark);
      }
    }
  }
}
