<div class="main-container">
  <ion-list no-margin>
    <div class="unit-section" *ngFor="let accordion of accordionModel">
      <div class="lesson-section" *ngFor="let lesson of accordion.lessons">
        <div class="lesson-list" no-padding (click)="getCourseMap(lesson, accordion.unit_id)">
          <div class="menu-bar">
            <i class="lesson-icon"></i>
          </div>
          <div class="lesson-row">
            <div class="lesson">
              <span>{{accordion.unit_title}}</span>
              <div class="lesson-title">{{lesson.lesson_title}}</div>
            </div>
            <div class="lesson-meta">
              <div class="badge">
                <i *ngIf="lesson.badge" class="badge-icon" (click)="$event.stopPropagation(); openBadgeInfo()"></i>
              </div>
              <div class="info">
                <i class="info-icon"></i>
              </div>
            </div>
          </div>
          <div *ngIf="lesson.started" class="score">
            <span>100%</span>
          </div>
          <div *ngIf="!lesson.started" class="lesson-image">
          </div>
        </div>
        <div no-border *ngIf="isShown(lesson)" class="accordion-list">
          <ion-spinner *ngIf="spinner" name="dots"></ion-spinner>
          <div *ngIf="courseMapModel && !spinner">
            <div no-padding class="collection-list" *ngFor="let course of courseMapModel">
              <div class="menu-bar">
              </div>
              <div class="course-map-row">
                <div class="course-map">
                  <div class="course-map-title">{{course.title}}</div>
                </div>
                <div class="lesson-meta">
                  <div class="badge">
                  </div>
                  <div class="collection-play">
                    <i *ngIf="course.format == 'collection'" class="play-icon"></i>
                  </div>
                  <div class="collection-image">
                    <img src="{{course.thumbnail}}" />
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-list>
</div>
