youtube-video-format {
  ion-grid {
    padding: 0;

    &.grid {
      padding: 0;
    }
  }

  ion-content {
    &.content {
      background: #000;
    }
  }

  ion-card {
    position: relative;
    text-align: center;

    &.youtube-card {
      width: 100%;
      border-radius: 0;
      border: 0;
      box-shadow: none;

      img {
        background: white;
        width: 100%;
      }

      .youtube-play {
        position: absolute;
        top: 36%;
        width: 100%;

        i {
          width: 80px;
          height: 80px;
          background: url("../assets/icon/youtube-play.svg");
          background-repeat: no-repeat;
          text-align: center;
          display: inline-block;
        }
      }
    }
  }
}
