fill-in-the-blank-format {
  &.answer {
    .panel-body {
      background-color: color($colors, white);
      color: color($colors, dark);
    }

    .desc {
      * {
        color: color($colors, dark) !important;
        font-size: 15px !important;
        background-color: color($colors, white) !important;
      }
    }
  }

  .desc {
    * {
      color: color($colors, white) !important;
      font-size: 15px !important;
      background-color: color($colors, dark) !important;
    }
  }

  .panel-body {
    background-color: color($colors, dark);
    color: color($colors, white);
    display: flex;

    .question-sequence {
      width: 50px;

      .sequence {
        padding-top: 11px;
        padding-left: 10px;
      }
    }

    .question-container {
      width: calc(100% - 50px);
      padding-top: 10px;

      .title {
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        font-style: italic;
      }

      .desc {
        padding: 10px 10px 10px 0;
        font-size: 15px;
        text-align: justify;
        font-weight: 300;
      }
    }
  }

  .question-fib {
    border: none;
    width: 100px;
    border-color: transparent;
    background: color($colors, dark);
    border-bottom: solid 1px;
  }
}
