fill-in-the-blank-format {
  ion-content {
    &.content {
      background-color: #38424b;
    }

    .panel-body {
      height: 250px;
      color: #ffffff;
      display: flex;

      .question-sequence {
        width: 50px;

        .sequence {
          padding-top: 7px;
        }
      }

      .question-container {
        width: calc(100% - 50px);

        .title {
          font-size: 15px;
          font-weight: bold;
          text-align: left;
          font-style: italic;
          padding-top: 10px;
        }

        .desc {
          padding: 10px 10px 10px 0;
          font-size: 15px;
          text-align: justify;
          font-weight: 300;
        }
      }
    }
  }

  .question-fib {
    border: none;
    width: 100px;
    border-color: transparent;
    background: #38424b;
    border-bottom: solid 1px;
  }
}
