assessment-bidirectional-playlist {
  ion-content {
    .scroll-content {
      background-color: color($colors, dark);
      overflow: hidden;
    }
  }

  ion-scroll {
    width: 100%;
    height: 68%;
    top: 56px;
  }

  .content-player {
    height: auto;
    width: 100%;
    border-bottom: 1px solid color($colors, white);
  }

  ion-footer {
    position: fixed;
  }

  .assessment-footer-bar {
    position: fixed;
    width: 100%;
    bottom: 44px;
    color: color($colors, white);
    background-color: color($colors, dark);
    text-align: center;
  }

  .submit-btn {
    background-color: color($colors, green);
    margin-bottom: 1px;
    height: 50px;

    &.button-md:hover:not(.disable-hover) {
      background-color: color($colors, green);
    }
  }
}
