assessment-bidirectional-playlist {
  ion-content {
    top: 56px;
  }

  .content-player {
    height: auto;
    width: 100%;
    border-bottom: 1px solid #ffffff;
  }

  ion-footer {
    position: fixed;
  }
}
