<ion-content [ngClass]="{'answer-selected': selectedAnswer}">
  <div class="panel-body">
    <div class="question-sequence">
      <div class="sequence">{{question.sequence_id}}.</div>
    </div>
    <div class="question-container">
      <div class="title">{{question.title}}</div>
      <div class="desc" [innerHtml]="question.description"></div>
      <ion-grid no-padding text-left>
        <ion-row no-padding>
          <ion-col *ngFor="let answer of question.answer" col-3 col-6 col-sm>
            <input type="radio" class="choice" [ngClass]="{'selected': selectedAnswer}" [(ngModel)]="selectedAnswer" name=" answers{{question.sequence_id}}" value="{{answer.answer_text}} " />
            <span class="answer">{{answer.answer_text}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
