collection-playlist {
  ion-content {
    &.content {
      background-color: #000;
    }
  }

  .slide-zoom {
    height: 100vh;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
