image-format {
  ion-card {
    position: relative;
    text-align: center;
    &.image-card {
      width: 100%;
      border-radius: 0;
      border: 0;
      box-shadow: none;

      img {
        background: white;
        width: 100%;
      }
    }
  }
}
