collection-player-overview {
  ion-card {
    position: relative;
    text-align: center;

    &.collection-img {
      width: auto;
      box-shadow: none;
      border-radius: 0;
    }
  }

  .panel-header {
    height: 50px;
    display: flex;
    border-bottom: 1px solid #cccccc;

    .collection-icon {
      width: 50px;
      height: 50px;

      i {
        background: url("../assets/icon/collection-dark.svg");
        height: 40px;
        display: block;
        background-repeat: no-repeat;
        background-size: 32px 32px;
        background-position: 10px 9px;
      }
    }

    .collection-meta {
      width: calc(100% - 250px);
      color: #5d5d5d;
      padding-left: 10px;

      p {
        margin-bottom: 0;
        margin-top: 9px;
        font-size: 12px;
      }

      h6 {
        margin: 0;
      }
    }

    .collection-info {
      width: 200px;
      height: 50px;

      i {
        background: url("../assets/icon/info.svg");
        height: 41px;
        display: block;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 6px 15px;
      }
    }
  }

  .panel-body {
    .content-panel {
      height: 50px;
      display: flex;
      border-bottom: 1px solid #cccccc;

      .content-icon {
        width: 50px;
        height: 50px;
        i {
          width: 20px;
          height: 20px;
          display: block;
          background-size: 20px 20px;
          background-repeat: no-repeat;
          margin-left: 19px;
          margin-top: 16px;
        }

        .video-icon {
          background-image: url("../assets/icon/video-resource-dark.svg");
        }

        .text-icon {
          background-image: url("../assets/icon/text-resource-dark.svg");
        }

        .audio-icon {
          background-image: url("../assets/icon/audio-resource-dark.svg");
        }

        .website-icon {
          background-image: url("../assets/icon/website-resource-dark.svg");
        }

        .interactive-icon {
          background-image: url("../assets/icon/interactive-resource-dark.svg");
        }

        .image-icon {
          background-image: url("../assets/icon/image-resource-dark.svg");
        }

        .question-icon {
          background-image: url("../assets/icon/image-resource-dark.svg");
        }
      }

      .content-meta {
        width: calc(100% - 250px);
        color: #5d5d5d;
        padding-left: 10px;

        p {
          margin-bottom: 0;
          margin-top: 12px;
          font-size: 12px;
        }

        span {
          font-size: 10px;
        }
      }

      .content-info {
        width: 200px;
        height: 50px;

        i {
          background: url("../assets/icon/info.svg");
          height: 41px;
          display: block;
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: 6px 15px;
        }
      }
      &:nth-last-child(2) {
        box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.3);
      }
      &:last-child {
        border: none;
      }
    }
  }
}
