.vertical-align-content > * {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.spinner-center > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-wrapper {
  background: none !important;
  box-shadow: none !important;

  ion-spinner {
    width: 60px;
    height: 60px;
  }
}
