.vertical-align-content > * {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.spinner-center > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-wrapper {
  background: none !important;
  box-shadow: none !important;

  ion-spinner {
    width: 60px;
    height: 60px;
  }
}

ion-modal {
  ion-backdrop {
    visibility: visible;
    opacity: 0.75;
    z-index: 0;
  }

  .modal-wrapper {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
  }
}

.MathJax_Display {
  text-align: left !important;
}

#MathJax_Message {
  display: none !important;
}
