%background-container {
  mask-size: contain;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  background: currentColor;
  width: 1em;
  height: 1em;
}

ion-icon {
  &[class*="icon-dashboard"] {
    @extend %background-container;
    mask-image: url("../assets/icon/dashboard.svg");
  }

  &[class*="icon-help"] {
    @extend %background-container;
    mask-image: url("../assets/icon/help.svg");
  }

  &[class*="icon-support"] {
    @extend %background-container;
    mask-image: url("../assets/icon/support.svg");
  }

  &[class*="icon-logout"] {
    @extend %background-container;
    mask-image: url("../assets/icon/logout.svg");
  }

  &[class*="icon-collection"] {
    @extend %background-container;
    mask-image: url("../assets/icon/collection.svg");
  }

  &[class*="icon-assessment"] {
    @extend %background-container;
    mask-image: url("../assets/icon/assessment.svg");
  }

  &[class*="icon-version"] {
    @extend %background-container;
    mask-image: url("../assets/icon/version.svg");
  }

  &[class*="icon-preferences"] {
    @extend %background-container;
    mask-image: url("../assets/icon/auto-fix.svg");
  }

  &[class*="icon-about"] {
    @extend %background-container;
    mask-image: url("../assets/icon/account-circle.svg");
  }

  &[class*="icon-line"] {
    @extend %background-container;
    mask-image: url("../assets/icon/vertical-line.svg");
  }
}
