%background-container {
  mask-size: contain;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  background: currentColor;
  width: 1em;
  height: 1em;
}

ion-icon {
  &[class*="icon-dashboard"] {
    @extend %background-container;
    mask-image: url("../assets/icon/dashboard.svg");
  }

  &[class*="icon-help"] {
    @extend %background-container;
    mask-image: url("../assets/icon/help.svg");
  }

  &[class*="icon-support"] {
    @extend %background-container;
    mask-image: url("../assets/icon/support.svg");
  }

  &[class*="icon-logout"] {
    @extend %background-container;
    mask-image: url("../assets/icon/logout.svg");
  }

  &[class*="icon-collection"] {
    @extend %background-container;
    mask-image: url("../assets/icon/collection.svg");
  }

  &[class*="icon-assessment"] {
    @extend %background-container;
    mask-image: url("../assets/icon/assessment.svg");
  }

  &[class*="icon-version"] {
    @extend %background-container;
    mask-image: url("../assets/icon/version.svg");
  }

  &[class*="icon-preferences"] {
    @extend %background-container;
    mask-image: url("../assets/icon/auto-fix.svg");
  }

  &[class*="icon-about"] {
    @extend %background-container;
    mask-image: url("../assets/icon/account-circle.svg");
  }

  &[class*="icon-line"] {
    @extend %background-container;
    mask-image: url("../assets/icon/vertical-line.svg");
  }
}
// smiley  default icon & active icons, use these class name to apply this icon
// whereever necessary in application.

.smiley-1 {
  background-image: url("../assets/icon/smiley/1.svg");
}

.smiley-2 {
  background-image: url("../assets/icon/smiley/2.svg");
}

.smiley-3 {
  background-image: url("../assets/icon/smiley/3.svg");
}

.smiley-4 {
  background-image: url("../assets/icon/smiley/4.svg");
}

.smiley-5 {
  background-image: url("../assets/icon/smiley/5.svg");
}

.smiley-1-default {
  background-image: url("../assets/icon/smiley/1-default.svg");
}

.smiley-2-default {
  background-image: url("../assets/icon/smiley/2-default.svg");
}

.smiley-3-default {
  background-image: url("../assets/icon/smiley/3-default.svg");
}

.smiley-4-default {
  background-image: url("../assets/icon/smiley/4-default.svg");
}

.smiley-5-default {
  background-image: url("../assets/icon/smiley/5-default.svg");
}

.assessment-icon {
  background: url("../assets/icon/assessment.svg");
}

.info-icon {
  background: url("../assets/icon/info.svg");
}

.collection-icon {
  background: url("../assets/icon/collection-dark.svg");
}

.question-icon {
  background-image: url("../assets/icon/question-dark.svg");
}

.video-icon {
  background-image: url("../assets/icon/video-resource-dark.svg");
}

.text-icon {
  background-image: url("../assets/icon/text-resource-dark.svg");
}

.audio-icon {
  background-image: url("../assets/icon/audio-resource-dark.svg");
}

.webpage-icon {
  background-image: url("../assets/icon/website-resource-dark.svg");
}

.interactive-icon {
  background-image: url("../assets/icon/interactive-resource-dark.svg");
}

.image-icon {
  background-image: url("../assets/icon/image-resource-dark.svg");
}
