.main-nav-menu {
  ion-content {
    background-color: #0072bc !important;
  }

  .menu-border {
    border: solid 1px #979797;
  }

  .list-border {
    border: solid 1px #979797;
  }

  .no-highlight {
    ion-label {
      opacity: 0.25;
    }
  }

  .menu-button {
    background-color: #0072bc;
    color: white;
  }

  .user-content {
    padding-top: 30px;
    padding-left: 15px;
    color: white;

    .username {
      font-weight: bold;
    }

    .email {
      padding-top: 10px;
      font-weight: 300;
    }
  }

  .user-img {
    padding: 0 !important;
  }

  .footer-icon {
    min-width: 20px !important;
    min-height: 18px !important;
  }

  .menu-icon {
    width: 9px !important;
    height: 9px !important;
  }
}
