<ion-header>
  <app-header *ngIf="headerContextModel" [context]="headerContextModel"></app-header>
</ion-header>
<ion-content *ngIf="assessment">
  <ng-container *ngIf="activePlayerIndex == -1">
    <assessment-player-overview (onContentPlay)="openPlayer($event)" [assessment]="assessment" [unit]="unit" [lesson]="lesson"></assessment-player-overview>
  </ng-container>
  <ng-container *ngIf="activePlayerIndex > -1 ">
    <assessment-playlist [unit]="unit" [lesson]="lesson" [assessment]="assessment" [activePlayerIndex]="activePlayerIndex"></assessment-playlist>
  </ng-container>
</ion-content>
