<div class="main-container">
  <ion-list>
    <div class="unit-section" *ngFor="let accordion of accordionModel">
      <div class="lesson-section" *ngFor="let lesson of accordion.lessons">
        <div class="lesson-list" no-padding (click)="toggle(lesson)" [ngClass]="{active: isShown(lesson)}">
          <div class="menu-bar">
            <img src="assets/imgs/dashboard/combined.png" />
          </div>
          <div class="lesson-row">
            <div class="lesson">
              <span>{{accordion.unit_title}}</span>
              <div class="lesson-title">{{lesson.lesson_title}}</div>
            </div>
            <ion-row>
              <ion-col class="badge">
                <i *ngIf="lesson.badge" class="badge-icon" (click)="$event.stopPropagation(); openBadgeInfo()"></i>
              </ion-col>
              <ion-col class="info">
                <i class="info-icon"></i>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="lesson.started" class="marks">
            <span>100%</span>
          </div>
          <div *ngIf="!lesson.started" class="lesson-image">
          </div>
        </div>
      </div>
      <!-- <div no-border *ngIf="isGroupShown(group)">
        <div no-padding class="collection-list" *ngFor="let item of group.items">
          <div class="menu-bar">
          </div>
          <div class="lesson-row">
            <div class="lesson">
              <span>{{item.title}}</span>
            </div>
          </div>
          <div class="marks">
            <span>100%</span>
          </div>
        </div>
      </div> -->
    </div>
  </ion-list>
</div>
