highlight-text-format {
  &.answer {
    .panel-body {
      background-color: color($colors, white);
      color: color($colors, dark);
    }

    .desc {
      * {
        color: color($colors, dark) !important;
        font-size: 15px !important;
        background-color: color($colors, white) !important;
      }
    }
  }

  .desc {
    * {
      color: color($colors, white) !important;
      font-size: 15px !important;
      background-color: color($colors, dark) !important;
    }
  }

  .panel-body {
    background-color: color($colors, dark);
    color: color($colors, white);
    display: flex;

    .question-sequence {
      width: 50px;

      .sequence {
        padding-top: 7px;
      }
    }

    .question-container {
      width: calc(100% - 50px);
      padding-right: 10px;

      .title {
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        font-style: italic;
        padding-top: 10px;
      }

      .desc {
        padding: 10px 10px 10px 0;
        font-size: 15px;
        text-align: justify;
        font-weight: 300;
      }

      .answer {
        line-height: 32px;
        text-align: justify;

        span:first-child {
          padding-left: 0;
        }

        span {
          margin-right: 10px;

          &.highlight {
            color: color($colors, white);
            border-radius: 4px;
            border-color: color($colors, blue);
            background-color: color($colors, blue);
          }
        }
      }
    }
  }
}
